.input__search {
  width: min(80%, 600px);
  height: 40px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 3px rgba(128, 128, 128, 0.51);
  margin-top: 20px;
}

.input {
  width: 90%;
  height: 100%;
  padding: 0 10px;
  border-radius: 10px 0 0 10px;
  border: 1px solid rgb(199, 193, 193);
}

.input__btn {
  width: 10%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}


.input__btn:hover {
  background-color: var(--secondary-color-hover);
  transition: 0.3s;
}

.cards {
  top: 15px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}